la*{
    margin: 0;
    padding:0;
}

.homecontent{
    
  height:100vh;
  width:100vw;
  position:absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  overflow: hidden;

}
.signupin{
  color: #ffffff;
  font-style: italic;
  top: 600px;
  position: absolute;
  width: 215px;
  display: flex;
  margin-left: -110px;
} 

.favouriteAddRemove{
  color: #ffffff;
  font-style: italic;
  margin: auto;
  text-align: center;
  width: 70%;
} 

.favouriteAddRemove a{
  font-weight: lighter;
    color: white;
    display: inline-block;
    background-color: #652CB3;
    border: 0;
    border-radius: 5px;
    font-style: normal;
}


.caroussel{
    display:flex;
    width: 300vw;
    width: 812vw;
    overflow-y: hidden;
    overflow-x: hidden;

}

.home-icons{
  width: 200px; 
  height: 200px;
  margin-top: 10px;
}


.feature{
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0px 0 white;
  text-align: center;
}


.title{
  color: #ffffff;
  top: 75px;
  position: absolute;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
}

.slogan{
  color: #ffffff;
  font-style: italic;
  top: 199px;
  position: absolute;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.desc{
  color: #ffffff;
  margin-top: 50px;
  top: 290px;
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-weight: normal; 
}

.signinPrompt{
  color: #ffffff;
  font-style: italic;
  top: 540px;
  position: absolute;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: normal; 
}

/* This is for the carrousel */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -85px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Location Page */
.locationText{
  display: flex;
  justify-content: center;
  text-align: center;

}

.acol .ui-collapsible-heading > .ui-collapsible-heading-toggle {
  background:#652CB3;
  color: white;
  text-align: center;
  /* height: 30px; */
  padding-top: 22px;
  font-size: 18px;
}

/* rating */
.star-wrapper {
  direction: rtl; 
  margin: auto;
  display:table;
  margin-bottom: 20px;
}
.star-wrapper a {
  /* font-size: 4em; */
  color: rgb(173, 173, 173);
  text-decoration: none;
  transition: all 0.5s;
  margin: 4px;
}
.star-wrapper a:hover {
  color: gold;
  transform: scale(1.3);
}
.s1:hover ~ a {
  color: gold;
}
.s2:hover ~ a {
  color: gold;
}
.s3:hover ~ a {
  color: gold;
}
.s4:hover ~ a {
  color: gold;
}
.s5:hover ~ a {
  color: gold;
}
.wraper {
  position: absolute;
  bottom: 30px;
  right: 50px;
}
/******/

/* this is for the map */
#map {
  height: 300px;
  padding: 5px;
 }
 /******/

#favourite-content{
  height: 300px;
  width:70%;
}

.actionbtn{
  
  color: black;

}

.favouriteAddRemove{
  color: #ffffff;
  font-style: italic;
  width: 70%;
} 

.information-into{
  width:300px;
  float:left;
  margin:0 10px;
}

.information-into img{
  width: 108%;
}

.information-text{
  width: 300px;
  display: flex;
  margin: auto;
  margin-top: 10px;
}

.information-video, .information-map {
    width: 90%;
}

.information-button{
  width: 92%;
}

/*****/

.grid{
  display:grid;
  padding: 10px;
}

.center{
  text-align: center;
  margin: auto;
  padding: 5px;
}
/* this is for comment */
#listBox{
  width: 300px;
  border: 2px solid blue;
  /* padding: 50px; */
  margin: 20px;
}





